{% extends "views/layout.html" %}


{% block content %}

<h1 class="text-center">Genres Catalog</h1>

<table class="table table-bordered table-stripped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Genre Title</th>
        </tr>
    </thead>

    <tbody>
        {% for g in genres %}
            <tr>
                <td>{{ g.id }}</td>
                <td>{{ g.name }}</td>
            </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock  %}